<!DOCTYPE html>
<html lang="en">
<head>
    {{>bts}}
    {{>header}}
    <title>Home HBS Template</title>
</head>
<body>
    <h1>Home HBS Template</h1>
    <h2>{{>bts}}</h2>
    <h2>Main Body section</h2>
    <h2>{{>footer}}</h2>
</body>
</html>